body {
    color: white;
    margin: 0;
    background: #5C8374;
    overflow-x: hidden;
}

section {
    font-family: 'Kalnia', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.blue {
    background: #153333;

}